{% extends 'KristianRandallPortfolioBundle::base.html.twig' %}

{% block content %}

<div class="slider">
	<img class="left-arrow nav-arrow" src="{{ asset("bundles/kristianrandallportfolio/images/left-slider-arrow.png") }}" alt="previous"/>
	<div class="container">
		<img src="{{ asset("bundles/kristianrandallportfolio/images/chimera-heads.png") }}" alt="Chimera heads"/>
	</div>
	<img class="right-arrow nav-arrow" src="{{ asset("bundles/kristianrandallportfolio/images/right-slider-arrow.png") }}" alt="next"/>
</div>

{% endblock %}