{% extends 'RandakPortfolioBundle:Page:single.html.twig' %}

{% block page_title 'About Me' %}

{% block page_content %}

    <p>I am a designer and web developer trained in user experience and user interface design. I graduated from the University of Washington in 2013 with a B.S. in Human Centered Design and Engineering with a focus in Human Computer Interaction. I have worked primarily as a web developer and designer -- I also tend to have several personal projects going at a time. I like to stay busy, and I enjoy experimenting with programming and design.</p>

    <p>My personal interests feed into my professional life. I am passionate about technology and social justice, and especially how those intersect. I spend my free time thinking about the environment, education, and systems of government. I speak English and Norwegian, and I love photography and writing.</p>

    <p>My resum&eacute; is available <a href="{{ asset('bundles/randakportfolio/documents/en_kristianrandall_resume.pdf') }}">here</a>.</p>

{% endblock %}