{% extends 'RandakPortfolioBundle:Page:single.html.twig' %}

{% block page_title 'Contact Me' %}

{% block page_content %}

    <p>Email me at <a href="mailto:kristian.l.randall@gmail.com">kristian.l.randall@gmail.com</a>.</p>

    <p>Additional work samples and code available upon request.</p>

{% endblock %}