{% extends 'RandakPortfolioBundle::base.html.twig' %}

{% block content %}

<div class="page">
    <h1>{% block page_title %}{% endblock %}</h1>
    <div class="page_content">
        {% block page_content %}{% endblock %}
    </div>
</div>

{% endblock %}